## PaySim Dataset

##### <b>step</b> - integer - maps a unit of time in the real world. In this case 1 step is 1 hour of time. Total steps 744 (30 days simulation).

##### <b>type</b> - string/categorical - type of transaction: CASH_IN, CASH_OUT, DEBIT, PAYMENT and TRANSFER.

##### <b>amount</b> - float - amount of the transaction in local currency.

##### <b>nameOrig</b> - string - customer who initiated the transaction

##### <b>oldbalanceOrg</b> - float initial balance before the transaction

##### <b>newbalanceOrig</b> - float - new balance after the transaction

##### <b>nameDest</b> - string - customer who is the recipient of the transaction

##### <b>oldbalanceDest</b> - float - initial balance of recipient before the transaction.

##### <b>newbalanceDest</b> - float - new balance of recipient after the transaction.

##### <b>fraud</b> - boolean/binary - determines if transaction is fraudulent

In [1]:
spark

Starting Spark application

SparkSession available as 'spark'.
<pyspark.sql.session.SparkSession object at 0x7fb5c5cdead0>

In [2]:
import hashlib
from datetime import datetime
from graphframes import *
from pyspark.sql import functions as func
from pyspark.sql.types import FloatType
import hsfs

In [3]:
def hashnode(x):
    return hashlib.sha1(x.encode("UTF-8")).hexdigest()[:8]

def extract_node_type(x):
    if (x.startswith("C")):
        node_type = 0
    elif (x.startswith("B")):
        node_type = 1
    elif (x.startswith("M")):
        node_type = 2
    else:
        node_type = 99
    return node_type

def extract_fraudster(x):
    if (x.startswith("CF")):
        fraudster = 1
    else:
        fraudster = 0
    return fraudster

def action_2_code(x):
    if (x == "CASH_IN"):
        node_type = 0
    elif (x == "CASH_OUT"):
        node_type = 1
    elif (x == "DEBIT"):
        node_type = 2
    elif (x == "PAYMENT"):
        node_type = 3
    elif (x == "TRANSFER"):
        node_type = 4
    elif (x == "DEPOSIT"):
        node_type = 4        
    else:
        node_type = 99
    return node_type

def gender_2_code(x):
    if x == 'W':
        gender =  0
    elif x == 'M':
        gender = 1
    else: 
        gender = 99
    return gender

def timestamp_2_time(x):
    dt_obj = datetime.strptime(str(x), '%Y-%m-%d %H:%M:%S')
    return dt_obj.timestamp()

hashnode_udf = func.udf(hashnode)
extract_fraudster_udf = func.udf(extract_fraudster)
node_type_udf = func.udf(extract_node_type)
action_2_code_udf = func.udf(action_2_code)
gender_2_code_udf = func.udf(gender_2_code)
timestamp_2_time_udf = func.udf(timestamp_2_time)

In [4]:
# Create a connection
connection = hsfs.connection()
# Get the feature store handle for the project's feature store
fs = connection.get_feature_store()

Connected. Call `.close()` to terminate connection gracefully.

In [5]:
transactions_fg = fs.get_feature_group("aml_10k_transactions_fg", 1)

In [6]:
transactions_fg.show(5)

+------+-------+---------+--------+---------+--------+-------------------+--------+
|is_sar|tran_id|orig_acct| tx_type|bene_acct|base_amt|     tran_timestamp|alert_id|
+------+-------+---------+--------+---------+--------+-------------------+--------+
| false|      1|     1767|TRANSFER|     3259| 9405.71|2017-01-01 00:00:00|      -1|
| false|      2|     7363|TRANSFER|     5141| 6884.54|2017-01-01 00:00:00|      -1|
| false|      3|     7585|TRANSFER|     9532|  7968.4|2017-01-01 00:00:00|      -1|
| false|      4|     1750|TRANSFER|     8792| 9042.67|2017-01-01 00:00:00|      -1|
| false|      5|     9060|TRANSFER|     4670| 4692.79|2017-01-01 00:00:00|      -1|
+------+-------+---------+--------+---------+--------+-------------------+--------+
only showing top 5 rows

In [7]:
transactions_df = transactions_fg.read()
transactions_df = transactions_df.withColumn('is_sar',func.when(func.col('is_sar') == 'true', 1).otherwise(0))\
                                 .withColumn('tx_type', action_2_code_udf(func.col('tx_type')))\
                                 .withColumn('tran_timestamp', timestamp_2_time_udf(func.col('tran_timestamp')).cast(FloatType()))\
                                 .withColumnRenamed("orig_acct","source")\
                                 .withColumnRenamed("bene_acct","target")\
                                 .select("source","target","tran_timestamp","is_sar","alert_id","tran_id","tx_type","base_amt")
transactions_df.show()
transactions_df.printSchema()

+------+------+--------------+------+--------+-------+-------+--------+
|source|target|tran_timestamp|is_sar|alert_id|tran_id|tx_type|base_amt|
+------+------+--------------+------+--------+-------+-------+--------+
|  1767|  3259|   1.4832288E9|     0|      -1|      1|      4| 9405.71|
|  7363|  5141|   1.4832288E9|     0|      -1|      2|      4| 6884.54|
|  7585|  9532|   1.4832288E9|     0|      -1|      3|      4|  7968.4|
|  1750|  8792|   1.4832288E9|     0|      -1|      4|      4| 9042.67|
|  9060|  4670|   1.4832288E9|     0|      -1|      5|      4| 4692.79|
|  8752|  3861|   1.4832288E9|     0|      -1|      6|      4| 4089.65|
|  9645|  3805|   1.4832288E9|     0|      -1|      7|      4| 3055.04|
|  7150|  9280|   1.4832288E9|     0|      -1|      8|      4| 6473.45|
|  1685|  6369|   1.4832288E9|     0|      -1|      9|      4| 2583.42|
|  7846|  8255|   1.4832288E9|     0|      -1|     10|      4| 6753.04|
|   878|  5957|   1.4832288E9|     0|      -1|     11|      4| 1743.57|
|   797|  4091|   1.4832288E9|     0|      -1|     12|      4| 8591.59|
|  8472|  5274|   1.4832288E9|     0|      -1|     13|      4| 7006.77|
|  5584|  3296|   1.4832288E9|     0|      -1|     14|      4| 5095.46|
|   616|  7618|   1.4832288E9|     0|      -1|     15|      4|  2537.2|
|  7312|  7617|   1.4832288E9|     0|      -1|     16|      4| 3120.27|
|  9886|  9987|   1.4832288E9|     0|      -1|     17|      4| 5308.95|
|  1132|  3603|   1.4832288E9|     0|      -1|     18|      4| 6788.85|
|   266|  3844|   1.4832288E9|     0|      -1|     19|      4| 5708.25|
|  2184|  2811|   1.4832288E9|     0|      -1|     20|      4| 5020.95|
+------+------+--------------+------+--------+-------+-------+--------+
only showing top 20 rows

root
 |-- source: integer (nullable = true)
 |-- target: integer (nullable = true)
 |-- tran_timestamp: float (nullable = true)
 |-- is_sar: integer (nullable = false)
 |-- alert_id: integer (nullable = true)
 |-- tran_id: integer (nullable = true)
 |-- tx_type: string (nullable = true)
 |-- base_amt: double (nullable = true)

In [8]:
accounts_fg = fs.get_feature_group("aml_10k_accounts_fg", 1)
accounts_fg.show(5)

+--------+---------+-------------------+--------------+------+---------+-------------------+-------+---+-------+---------------+-------+----+----------------+---------------+
|dsply_nm|acct_stat|            open_dt|tx_behavior_id|gender|branch_id|           close_dt|country|age|acct_id|initial_deposit|bank_id|type|acct_rptng_crncy|prior_sar_count|
+--------+---------+-------------------+--------------+------+---------+-------------------+-------+---+-------+---------------+-------+----+----------------+---------------+
|     C_0|        A|2017-01-01 00:00:00|             1|     W|        1|4754-11-29 00:00:00|     US| 60|      0|       84442.19|   bank| SAV|             USD|          false|
|     C_1|        A|2017-01-01 00:00:00|             1|     M|        1|4754-11-29 00:00:00|     US| 91|      1|       75795.44|   bank| SAV|             USD|          false|
|     C_2|        A|2017-01-01 00:00:00|             1|     M|        1|4754-11-29 00:00:00|     US| 86|      2|       42057.16|   bank| SAV|             USD|          false|
|     C_3|        A|2017-01-01 00:00:00|             1|     W|        1|4754-11-29 00:00:00|     US| 72|      3|       25891.68|   bank| SAV|             USD|          false|
|     C_4|        A|2017-01-01 00:00:00|             1|     W|        1|4754-11-29 00:00:00|     US| 81|      4|       51127.47|   bank| SAV|             USD|          false|
+--------+---------+-------------------+--------------+------+---------+-------------------+-------+---+-------+---------------+-------+----+----------------+---------------+
only showing top 5 rows

In [9]:
accounts_df = accounts_fg.read()
accounts_df = accounts_df.withColumn('prior_sar',func.when(func.col('prior_sar_count') == 'true', 1).otherwise(0))\
                         .withColumn('gender', gender_2_code_udf(func.col('gender')))\
                         .drop("prior_sar_count","acct_rptng_crncy","type","acct_stat","open_dt","bank_id","country","close_dt","dsply_nm","branch_id")
        

accounts_df.show(5)
accounts_df.printSchema()

+--------------+------+---+-------+---------------+---------+
|tx_behavior_id|gender|age|acct_id|initial_deposit|prior_sar|
+--------------+------+---+-------+---------------+---------+
|             1|     0| 60|      0|       84442.19|        0|
|             1|     1| 91|      1|       75795.44|        0|
|             1|     1| 86|      2|       42057.16|        0|
|             1|     0| 72|      3|       25891.68|        0|
|             1|     0| 81|      4|       51127.47|        0|
+--------------+------+---+-------+---------------+---------+
only showing top 5 rows

root
 |-- tx_behavior_id: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- acct_id: integer (nullable = true)
 |-- initial_deposit: double (nullable = true)
 |-- prior_sar: integer (nullable = false)

In [10]:
edge_fg_meta = fs.create_feature_group(name="edge_features",
                                       version=1,
                                       primary_key=["tran_id"],
                                       description="edge features",
                                       time_travel_format=None,                                        
                                       statistics_config=False)
edge_fg_meta.save(transactions_df)

<hsfs.feature_group.FeatureGroup object at 0x7fb5d10bb290>

In [11]:
node_fg_meta = fs.create_feature_group(name="node_features",
                                              version=1,
                                              primary_key=["acct_id"],
                                              description="node features",
                                              time_travel_format=None,                                        
                                              statistics_config=False)
node_fg_meta.save(accounts_df)

<hsfs.feature_group.FeatureGroup object at 0x7fb5d1092610>

In [12]:
edge_td_meta = fs.create_training_dataset(name="edge_td",
                                       version=1,
                                       data_format="csv",   
                                       description="edge td")
edge_td_meta.save(transactions_df)

<hsfs.training_dataset.TrainingDataset object at 0x7fb5d10a5510>

In [13]:
node_td_meta = fs.create_training_dataset(name="node_td",
                                       version=1,
                                       data_format="csv",   
                                       description="edge td")
node_td_meta.save(accounts_df)

<hsfs.training_dataset.TrainingDataset object at 0x7fb5d1092410>