In [1]:
spark

Starting Spark application

SparkSession available as 'spark'.
<pyspark.sql.session.SparkSession object at 0x7fa937ffeed0>

In [2]:
import hashlib
from datetime import datetime
from pyspark.sql import functions as func
from pyspark.sql.types import FloatType
import hsfs

In [3]:
# Create a connection
connection = hsfs.connection()
# Get the feature store handle for the project's feature store
fs = connection.get_feature_store()

Connected. Call `.close()` to terminate connection gracefully.

## place holder

In [4]:
transactions_fg = fs.get_feature_group("transactions_fg", 1)

In [7]:
transactions_df = transactions_fg.read()
transactions_df.show()

+--------+-------+------+-------+--------+------+--------------+------+
|alert_id|tran_id|target|tx_type|base_amt|is_sar|tran_timestamp|source|
+--------+-------+------+-------+--------+------+--------------+------+
|      -1|      1|  3259|      4| 9405.71|     0|   1.4832288E9|  1767|
|      -1|      2|  5141|      4| 6884.54|     0|   1.4832288E9|  7363|
|      -1|      3|  9532|      4|  7968.4|     0|   1.4832288E9|  7585|
|      -1|      4|  8792|      4| 9042.67|     0|   1.4832288E9|  1750|
|      -1|      5|  4670|      4| 4692.79|     0|   1.4832288E9|  9060|
|      -1|      6|  3861|      4| 4089.65|     0|   1.4832288E9|  8752|
|      -1|      7|  3805|      4| 3055.04|     0|   1.4832288E9|  9645|
|      -1|      8|  9280|      4| 6473.45|     0|   1.4832288E9|  7150|
|      -1|      9|  6369|      4| 2583.42|     0|   1.4832288E9|  1685|
|      -1|     10|  8255|      4| 6753.04|     0|   1.4832288E9|  7846|
|      -1|     11|  5957|      4| 1743.57|     0|   1.4832288E9|   878|
|      -1|     12|  4091|      4| 8591.59|     0|   1.4832288E9|   797|
|      -1|     13|  5274|      4| 7006.77|     0|   1.4832288E9|  8472|
|      -1|     14|  3296|      4| 5095.46|     0|   1.4832288E9|  5584|
|      -1|     15|  7618|      4|  2537.2|     0|   1.4832288E9|   616|
|      -1|     16|  7617|      4| 3120.27|     0|   1.4832288E9|  7312|
|      -1|     17|  9987|      4| 5308.95|     0|   1.4832288E9|  9886|
|      -1|     18|  3603|      4| 6788.85|     0|   1.4832288E9|  1132|
|      -1|     19|  3844|      4| 5708.25|     0|   1.4832288E9|   266|
|      -1|     20|  2811|      4| 5020.95|     0|   1.4832288E9|  2184|
+--------+-------+------+-------+--------+------+--------------+------+
only showing top 20 rows

## place holder

In [13]:
edges_td_meta = fs.create_training_dataset(name="edges_td",
                                       version=1,
                                       data_format="csv",
                                       label = ["is_sar"],   
                                       description="edges training dataset")
edges_td_meta.save(transactions_df)

<hsfs.training_dataset.TrainingDataset object at 0x7fa945fd7110>

### place holder

In [14]:
account_fg = fs.get_feature_group("account_features", 1)

In [15]:
accounts_df = account_fg.read()
accounts_df.show()

+-------+---------------+--------------+---------+
|acct_id|initial_deposit|tx_behavior_id|prior_sar|
+-------+---------------+--------------+---------+
|      0|       84442.19|             1|        0|
|      1|       75795.44|             1|        0|
|      2|       42057.16|             1|        0|
|      3|       25891.68|             1|        0|
|      4|       51127.47|             1|        0|
|      5|       40493.41|             1|        0|
|      6|       78379.86|             1|        0|
|      7|       30331.27|             1|        0|
|      8|        47659.7|             1|        0|
|      9|        58338.2|             1|        0|
|     10|       90811.29|             1|        0|
|     11|       50468.69|             1|        0|
|     12|       28183.78|             1|        0|
|     13|       75580.42|             1|        0|
|     14|        61836.9|             1|        0|
|     15|       25050.63|             1|        0|
|     16|       90974.63|             1|        0|
|     17|       98278.55|             1|        0|
|     18|       81021.72|             1|        0|
|     19|        90216.6|             1|        0|
+-------+---------------+--------------+---------+
only showing top 20 rows

### place holder

In [18]:
source = transactions_fg.select(["source","is_sar"]).read().withColumnRenamed("source","id")
target = transactions_fg.select(["target","is_sar"]).read().withColumnRenamed("target","id")
nodes = source.union(target)
sar_nodes = nodes.where(nodes.is_sar == 1)
non_sar = nodes.where(nodes.is_sar == 0)
non_sar_nodes = non_sar.join(sar_nodes, ["id"], "leftanti")
labels = sar_nodes.union(non_sar_nodes).dropDuplicates(subset=["id"])
labels.show()

+----+------+
|  id|is_sar|
+----+------+
|3997|     1|
|5300|     1|
| 463|     1|
|8086|     1|
|7833|     1|
|1088|     0|
|6654|     0|
|9465|     0|
|7880|     0|
|6336|     0|
|1580|     0|
|1829|     0|
|7993|     0|
|7240|     0|
|7253|     0|
|8389|     0|
|4935|     0|
|6658|     0|
|6466|     0|
|8592|     0|
+----+------+
only showing top 20 rows

In [19]:
accounts_df = accounts_df.withColumnRenamed("acct_id","id")
accounts_df.show()

+---+---------------+--------------+---------+
| id|initial_deposit|tx_behavior_id|prior_sar|
+---+---------------+--------------+---------+
|  0|       84442.19|             1|        0|
|  1|       75795.44|             1|        0|
|  2|       42057.16|             1|        0|
|  3|       25891.68|             1|        0|
|  4|       51127.47|             1|        0|
|  5|       40493.41|             1|        0|
|  6|       78379.86|             1|        0|
|  7|       30331.27|             1|        0|
|  8|        47659.7|             1|        0|
|  9|        58338.2|             1|        0|
| 10|       90811.29|             1|        0|
| 11|       50468.69|             1|        0|
| 12|       28183.78|             1|        0|
| 13|       75580.42|             1|        0|
| 14|        61836.9|             1|        0|
| 15|       25050.63|             1|        0|
| 16|       90974.63|             1|        0|
| 17|       98278.55|             1|        0|
| 18|       81021.72|             1|        0|
| 19|        90216.6|             1|        0|
+---+---------------+--------------+---------+
only showing top 20 rows

In [20]:
accounts_df.count()

10000

In [21]:
nodes_df = accounts_df.join(labels, ["id"])
nodes_df.count()

9998

In [22]:
node_td = fs.create_training_dataset(name="node_td",
                                       version=1,
                                       data_format="csv",   
                                       description="node training dataset")
node_td.save(accounts_df)

<hsfs.training_dataset.TrainingDataset object at 0x7fa945b27750>